# Environment variables
.env

# others
src/*.ipynb

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environments
venv/
env/
ENV/

# IDE files
.vscode/settings.json
.idea/

# OS files
.DS_Store
Thumbs.db

src/lab_05/docchat/.gradio/certificate.pem
